<div class="contenedor">
      <div class="contenedor-events">
        {{#each eventcard}}
        <div class="card" style="background-image: url('{{url}}')">
          <div class="textos">
            <h3>{{NameEvent}}</h3>
            <p>{{DateofEvent}}</p>
          </div>
        </div> 
        {{/each}} 
        
      </div>
  
      <div class="banner" style="background-image: url('./img/dog2.jpg')">
        <h3><strong>TITULO DE AYUDA</strong></h3>
        <ul>
          <li>Alimentacion</li>
          <li>Refugiados</li>
          <li>Rescates</li>
          <li>Alimentacion</li>
          <li>Refugiados</li>
          <li>Rescates</li>
        </ul>
        <a href="#"><button class="boton">CONTACTANOS</button></a>
      </div>
    </div>